header
{
  width: 100%;
  margin: 0px;
  padding: 10px;
  background-color: rgb(47, 53, 59);
}

.headerText
{
  width: 98%;
  margin: 0px;
  margin-left:auto;
  margin-right:auto;
  color: white;
}

.cipherTextForm
{
  background-color: lightgray;
  width: 98%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
}

label
{
  padding: 10px;
}

input
{
  margin: 10px;

}

button
{
  margin: 10px;
  
}

p
{
  padding: 10px;
  margin: 0px;
}



@media only screen and (min-width:992px)
{
  .cipherTextForm
  {
    width: 960px;
  }

  .headerText
  {
    width: 960px;
  }
}